.bnr_img{
    width: 100%;
    height: 738px;
}

.shr_cont{
   
        position: absolute;
        top: 70%;
        left: 70%;
        transform: translate(-50%, -50%);
      
}


.slg_cont{
   
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
  
}


.shr_contBtn{
    width: 100px;
    position: absolute;
    top: 70%;
    left: 93%;
    transform: translate(-50%, -50%);
  
}
.shr{

    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    padding: 12px 20px;
    font-size: 18px;
    width: 700px;
    border: 1px solid #ccc;
}

.src_btn{
    padding: 10px;
    background-color: blueviolet;
   border-top-right-radius:10px ;
   border-bottom-right-radius:10px ;
    height: 51px;
    width: 60px;
}

.slogn{
    
  font-weight: 800;
  color: #ffffff; 
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Playfair Display', serif;
  width: 600px;
  position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.part-one {
  font-size: 3rem;
    color: #9f8802; 
  }
  
  .part-two {
    font-size: 2.2rem;
    color: #df0371; 
  }

  .slogan-text {
    font-size: 2rem;
    margin-top: 15px;
     
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.s3);
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

  .prt-one{
    
    color: #007563;

  }
  .prt-two{
      color: #007563;
  }


.icn{
padding-bottom: 30px;
  margin-bottom: 20px;
  margin-left: 35px;
 
}

.prfl{
   margin-left:30px ;
}